<div class="row justify-content-center mt-5">
    
        <div class="col-3"></div>
        
        <div class="col-6">
            <div class="container-all">
                <div class="container-file">
            <h1 class="mb-5 text-center">Upload a Meme</h1>
           
            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="card bg-faded p-3 text-center mb-3 my-drop-zone">
                 <i class="fa fa-upload fa-3x"></i>
                Drop photos here
                <label  class="btn btn-primary mt-3 labe" >
                    <input type="file" style="display: none;" ng2FileSelect [uploader]="uploader" />
                    <h5>Choose File</h5></label>
            </div>
           
        </div>   
    
        <div class="after-photoadded"  *ngIf="uploader?.queue?.length">
            <img [src]="previewPath " alt="Avatar" class="preview-img">
            <textarea type="text" class="desc-adding" (keyup)="onKey($event)" name="Description"
             placeholder="Write your description here" ></textarea>
        
            <div>
                <div>
                </div>
            </div>
        </div>
        <div class="progress" *ngIf="uploader?.queue?.length">
            <div class="progress-bar" role="progressbar"  [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
            <div class="actions"  *ngIf="uploader?.queue?.length">
                
                <button type="button" class="btn btn-success btn-s "
                        (click)="uploader.uploadAll()" 
                        [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="fa fa-upload"></span> POST
                </button>
                
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="fa fa-trash"></span> CANCEL
                </button>
            </div>
            
            
        
        </div>
    </div>
        <div class="col-3"> </div>
    </div>
    