<nav class="navbar navbar-expand-md navbar-dark sticky-top " >
<div class="container">
    <a class="navbar-brand" routerLink='/' >NeinGag</a>
    
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='/memes' routerLinkActive='active'>Fresh</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/popular' routerLinkActive='active' >Popular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/add-photo' routerLinkActive='active' >Upload Photo</a>
        </li>
      </ul>
      

      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" routerLink="/edit">My Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>


      <form *ngIf="(accountService.currentUser$  | async) === null" #loginForm="ngForm" 
      class="form-inline mt-2 mt-md-0"  autocomplete="off">
        <input 
        name="username"
        [(ngModel)]="model.username"
        class="form-control mr-sm-2" 
        type="text" placeholder="Username" >
        <input 
        name="password"
        [(ngModel)]="model.password"
        class="form-control mr-sm-2"
        type="password" placeholder="Password" >
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="login()" type="submit">Login</button>
        <button class="btn btn-outline-primary my-2 my-sm-0 ml-3" (click)="registerToggle()">Register</button>
      </form>
    </div>

  </nav>

  <div class="container">
    <div *ngIf="registerMode" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
      </div>
    </div>
  </div>
  