<div class="container  mt-5">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <div class="border">
      <img class="border d-inline border-left border-danger rounded-circle" src="../../../../../assets/img/user.png" alt="{{member?.nickname}}">
      
      <h5 class="d-inline ">{{member?.nickname}}</h5>
      &nbsp;
      <strong class="float-right ">Member Since: {{member?.created | date: 'dd-MM-yyyy'}}</strong>
      
      <div *ngFor="let memphotos of photos">

        <div class="card mb-4" >
          <div class="card-header">Description: {{memphotos?.description}} 
          </div>
          <div class="card-img-wrapper" >
              <ng-container>
      
                <img class="userPhotos card-img-top " src="{{memphotos?.url}}" alt="">
          </ng-container>
      </div>
          <div class="card-body p-1">
              <h6 class="card-title ">
                  <div class="d-flex">
                  <li class="list-inline-item "><p>100 points</p></li>
                  <li class="list-inline-item mr-auto"><p>90 comments</p></li>
              </div>
                 <ul class="list-inline d-flex animate member-icons ml-2">
                  <ng-container>
                     <li class="list-inline-item "><button class="btn btn-success"><i class="fa fa-thumbs-up"></i></button></li>
                     <li class="list-inline-item "><button class="btn btn-danger"><i class="fa fa-thumbs-down"></i></button></li>
                     <li class="list-inline-item mr-auto"><button class="btn btn-primary" routerLink="/comments">
                      <i class="fa fa-comments"></i></button></li>
                  </ng-container>
                  </ul>
                
              </h6>
          </div>
      </div>
      </div>
   
    </div>
    </div>
    </div>
    <div class="col-4"></div>
    </div>
  