 <div class="container mt-4">
      <div class="row">
       
        <div class="col-2">
        </div>
        <div class="col-8">
          <div class="tab-pannel" >
            <tabset [justified]="true">
              <tab heading="Memes of {{member?.nickname}} ">
                <div class="d-flex flex-column p-2">
                  <div class="alert alert-dismissible alert-primary">
                  <h3 style="text-align:center;">Here you can find all memes posted by {{member?.nickname}}</h3>
                </div>
                    <div *ngFor="let photo of photos" class="align-self-stretch">
                        <ng-container *ngIf="member?.id == photo?.appUserId">
                          <app-meme-card [photos]="photo" ></app-meme-card>
                         
                          
                        </ng-container>
                    </div>
                  </div>
              </tab>
              <tab heading="Memes Liked By {{member?.nickname}}">
                
                <div class="d-flex flex-column p-2">
                  <div class="alert alert-dismissible alert-primary">
                  <h3 style="text-align:center;">Here you can find all memes liked by {{member?.nickname}}</h3>
                </div>
                  <div *ngFor="let like of liked" class="align-self-stretch">
                    <div *ngFor="let photo of photos" class="align-self-stretch">
                      <ng-container *ngIf="like?.likedId == photo.id">
                        <app-meme-card [photos]="photo" ></app-meme-card>
                        
                        
                      </ng-container>
                    </div>
                  </div>
                </div>
  
              </tab>
              <tab heading="Commented Memes">
                <!-- <div class="d-flex flex-column p-2">
                  <div class="alert alert-dismissible alert-primary">
                  <h3 style="text-align:center;">Here you can find all memes comented by you</h3>
                </div>
                <div *ngFor="let photo of photos" class="align-self-stretch">
                  
                <div *ngFor="let comment of commentsNoDuplicates" class="align-self-stretch">
                  <div *ngIf="comment.commentedPhotoId">
                    <ng-container *ngIf="comment?.commentedPhotoId == photo.id">              
                      <app-meme-card [photos]="photo" ></app-meme-card>       
                    </ng-container>
                  </div>
                  
              
              </div>
            
               </div>
              </div> -->
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>