<div class="container mt-4">
    <div class="row">
     
      <div class="col-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{|| '../../../../../assets/img/user.png" 
          alt="{{member?.nickname}}">
          <div class="card-body">
            <div>
              <strong>Age:</strong>
              <p>{{member?.age}}</p>
            </div>
            <div>
              <strong>Last Active:</strong>
              <p>{{member?.lastActive}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-pannel">
          <tabset [justified]="true">
            <tab heading="Your Memes">
              <div class="d-flex flex-column p-2">
                <div *ngFor="let photo of photos" class="align-self-stretch">
                    <app-meme-card [photos]="photo"  ></app-meme-card>
                </div>
                </div>
            </tab>
            <tab heading="Your Likes">
              Short Labeled Justified content
            </tab>
            <tab heading="Your Comments">
              Long Labeled Justified content
            </tab>
          </tabset>
        
        </div>
      </div>
    </div>
  </div>