<div class="container mt-4">
    <div class="row">
     
      <div class="col-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{|| '../../../../../assets/img/user.png" 
          alt="{{member?.nickname}}">
          <div class="card-body">
            <div>
              <strong>Age:</strong>
              <p>{{member?.age}}</p>
            </div>
            <div>
              <strong>Last Active:</strong>
              <p>{{member?.lastActive}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-pannel">
          <tabset [justified]="true">
            <tab heading="Your Memes">
              <div class="d-flex flex-column p-2">
                  <div *ngFor="let photo of photos" class="align-self-stretch">
                      <ng-container *ngIf="member?.id == photo?.appUserId">
                        <app-meme-card [photos]="photo" ></app-meme-card>
                      </ng-container>
                  </div>
                </div>
            </tab>
            <tab heading="Liked Memes">

              <div *ngFor="let photo of photos" class="align-self-stretch">
                <div *ngFor="let like of liked" class="align-self-stretch">
                  <ng-container *ngIf="like?.likerId == member?.id">
                    <app-meme-card [photos]="photo" ></app-meme-card>
                  </ng-container>
                  </div>
                </div>


            </tab>
            <tab heading="Commented Memes">
              <div class="d-flex flex-column p-2">
                
                <div *ngFor="let photo of photos" class="align-self-stretch">
              <div *ngFor="let comment of comments" class="align-self-stretch">
                <ng-container *ngIf="comment?.commenterId == member?.id">
                  <app-meme-card [photos]="photo" ></app-meme-card>
                </ng-container>
                </div>
              </div>
            </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>