<div class="container mt-4">
    <div class="row">
     
      <div class="col-4">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{member?.photoUrl}}" 
          alt="{{member?.nickname}}">
          <div class="card-body">
            <div>
              <strong>Nickname:</strong>
              <p>{{member?.nickname}}</p>
            </div>
            <div>
              <strong>Member Since:</strong>
              <p>{{member?.created}}</p>
            </div>
            <div>
              <strong>Last Active:</strong>
              <p>{{member?.lastActive}}</p>
            </div>
          </div>
        </div>
        <p></p>
            <div class="card">
            <h3 style="text-align:center;">Buy some coins</h3>
            <strong>Amount:</strong>
            <input
                    name="Amount"
                    required
                    [(ngModel)]="amount"
                    type="text" 
                    class="form-control input-sm" 
                    placeholder="" 
                    rows="2">
          
            <!-- <strong>Source:</strong>
            <input
                    name="source"
                    required
                    [(ngModel)]="source"
                    type="text" 
                    class="form-control input-sm" 
                    placeholder="" 
                    rows="2"> -->
            <strong>Email:</strong>
            <input
                    name="receiptEmail"
                    required
                    [(ngModel)]="receiptEmail"
                    type="text" 
                    class="form-control input-sm" 
                    placeholder="" 
                    rows="2">
                    <strong style="text-align:center;">Current balance:</strong>
                    <p style="text-align:center;">{{member?.amount}}</p>
            <p></p>
            <p><button type="button" class="btn btn-danger btn-block" routerLink='/memes' routerLinkActive='active' >Buy coins</button> </p>
          </div>
        </div>
        

      
      <div class="col-8">
        <div class="tab-pannel" >
          <tabset [justified]="true">
            <tab heading="Your Memes">
              <div class="d-flex flex-column p-2">
                <div class="alert alert-dismissible alert-primary">
                <h3 style="text-align:center;">Here you can find all memes posted by you</h3>
              </div>
                  <div *ngFor="let photo of photos" class="align-self-stretch">
                      <ng-container *ngIf="member?.id == photo?.appUserId">
                        <app-meme-card [photos]="photo" ></app-meme-card>
                        <p><button type="button" class="btn btn-danger btn-block" (click)="deletePhoto(photo?.id)" >Delete meme</button> </p>
                        
                      </ng-container>
                  </div>
                </div>
            </tab>
            <tab heading="Liked Memes">
              
              <div class="d-flex flex-column p-2">
                <div class="alert alert-dismissible alert-primary">
                <h3 style="text-align:center;">Here you can find all memes liked by you</h3>
              </div>
                <div *ngFor="let like of liked" class="align-self-stretch">
                  <div *ngFor="let photo of photos" class="align-self-stretch">
                    <ng-container *ngIf="like?.likedId == photo.id">
                      <app-meme-card [photos]="photo" ></app-meme-card>
                      
                      
                    </ng-container>
                  </div>
                </div>
              </div>

            </tab>
            <tab heading="Commented Memes">
              <div class="d-flex flex-column p-2">
                <div class="alert alert-dismissible alert-primary">
                <h3 style="text-align:center;">Here you can find all memes comented by you</h3>
              </div>
              <div *ngFor="let photo of photos" class="align-self-stretch">
                
              <div *ngFor="let comment of commentsNoDuplicates" class="align-self-stretch">
                <div *ngIf="comment.commentedPhotoId">
                  <ng-container *ngIf="comment?.commentedPhotoId == photo.id">              
                    <app-meme-card [photos]="photo" ></app-meme-card>       
                  </ng-container>
                </div>
                
            
            </div>
          
             </div>
            </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>