<div class="card mb-4" >
    <div class="card-header">Category: {{photos?.description}} 
    </div>
    <div class="card-img-wrapper" >
        <ng-container>

        <img src="{{photos?.url || '/client/src/assets/img/user.png'}}" class="card-img-top">
    </ng-container>
</div>
    <div class="card-body p-1">
        <h6 class="card-title ">
            <div class="d-flex">
            <li class="list-inline-item "><p>{{likes}}</p></li>
            <li class="list-inline-item mr-auto"><p>1 comments</p></li>
            <li class="list-inline-item "><p>Posted by:{{photos?.nickname}}</p></li>
        </div>
           <ul class="list-inline d-flex animate member-icons ml-2">
            <ng-container>
               <li class="list-inline-item "><button  class="btn btn-success" (click)="sendLike(photos.id)"><i class="fa fa-thumbs-up"></i></button></li>
               <li class="list-inline-item "><button class="btn btn-danger"><i class="fa fa-thumbs-down"></i></button></li>
               <li class="list-inline-item mr-auto"><button class="btn btn-primary" routerLink="/memes/comments">
                <i class="fa fa-comments"></i></button></li>
               <li class="list-inline-item mr-2"><button class="btn btn-warning"  routerLink="/detail">
                <i class="fa fa-user"></i></button></li>
            </ng-container>
            </ul>
          
        </h6>
    </div>
</div>
